@model SubHub.Models.Media

@{
    ViewBag.Title = "Media";
}

<h2>Media</h2>

<div>
    <h4>Media</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImdbUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImdbUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
