@model SubHub.Models.MediaViewModel

@{
    ViewBag.Title = "NewMedia";
}

<h2>Nýtt efni</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateAired, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAired)
                @Html.ValidationMessageFor(model => model.DateAired)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbUrl)
                @Html.ValidationMessageFor(model => model.ImdbUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosterUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PosterUrl)
                @Html.ValidationMessageFor(model => model.PosterUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TypeId, Model.MediaTypes)
                @Html.ValidationMessageFor(model => model.TypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GenreId, Model.MediaGenres)
                @Html.ValidationMessageFor(model => model.GenreId)
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
