@model IEnumerable<SubHub.Models.Media>

@{
    ViewBag.Title = "Home Page";
}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>  
<!--
<div class="panel panel-default" id="front-area">
    <div class="panel-body">-->

<div class="banner-slider-images">
    <ul>
        <li><img id="slider-images" src="http://omgtens.com/wp-content/uploads/2014/02/The-Wolf-of-Wall-Street.jpg" /></li>
        <li><img id="slider-images" src="http://images.auctionworks.com/hi/63/62971/pas0350.jpg" /></li>
        <li><img id="slider-images" src="http://www.satuharapan.com/life/kcfinder/upload/images/daystokill.jpg" /></li>
        <li><img id="slider-images" src="http://data.ibtimes.co.in/en/full/433842/greys-anatomy-season-10.jpg" /></li>
        <li><img id="slider-images" src="http://www.qiibo.com/wp-content/uploads/2014/01/hr_Jack_Ryan-_Shadow_Recruit_17.jpg" /></li>
        <li><img id="slider-images" src="http://i.myegy.to/images/1f2400039de1.original.jpeg" /></li>
        <li><img id="slider-images" src="http://www.apnahotspot.com/movies/images/robocop14.jpg" /></li>
        <li><img id="slider-images" src="http://scifipulse.net/wp-content/uploads/2014/03/24LiveAnotherDay.jpg" /></li>
        <li><img id="slider-images" src="http://pbs.twimg.com/media/BktoFZ8CIAABy5r.jpg" /></li>
        <li><img id="slider-images" src="http://www.leblogducinema.com/wp-content/uploads//2014/03/true-detective-poster-600x400.jpg" /></li>
    </ul>
</div>

<script src="~/Scripts/BannerSliderImages.js"></script>
<script src="~/Scripts/dots.js"></script>
        <div id="popular-master">
            
            <h3 id="most-popular-title">Vinsælustu textarnir</h3>
            <br />
            <div class="front-5-group">
                <h4>Bíómyndir</h4>
                @{var items = (from m in Model select m).ToList();}
                @for (int i = 0; i < 5; i++ )
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items[i].Id }, null)" class="thumbnail front-images">
                        @*<h5>@items[i].Name</h5>*@
                        <img src="@items[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>

            <div class="front-5-group">
                <h4>Þættir</h4>

                @{var items2 = (from m in Model select m).ToList();}
                @for (int i = 5; i < 10; i++)
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items2[i].Id }, null)" class="thumbnail front-images">
                        <img src="@items2[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>
        </div>

        <!--<div id="slider-div">
            <div class="tcycle">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p1.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p2.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p3.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p4.jpg">
            </div>
        </div>-->
    <!--</div>
</div>
-->
<!--
<div id="front-area">
    
</div>
-->
