@model IEnumerable<SubHub.Models.Media>

@{
    ViewBag.Title = "Home Page";
}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>
<!--
<div class="panel panel-default" id="front-area">
    <div class="panel-body">-->

<div class="banner-slider-images">
    <ul>
        <li><img id="slider-images" src="http://static5.businessinsider.com/image/52a9e05369bedd7f7f23605f/theres-a-free-screening-of-the-wolf-of-wall-street-near-goldman-sachs-tomorrow-night.jpg" /></li>
        <li><img id="slider-images" src="http://movieboozer.com/wp-content/uploads/2014/03/Divergent-movie-poster-2.jpg" /></li>
        <li><img id="slider-images" src="http://absoluteuncertainties.com/wp-content/uploads/2014/04/frozen_marshmallow_characters.jpg" /></li>
        <li><img id="slider-images" src="http://www.screenrelish.com/wp-content/uploads/2014/03/Neighbors-Seth-Rogen.jpg" /></li>
        <li><img id="slider-images" src="http://wac.450f.edgecastcdn.net/80450F/screencrush.com/files/2012/12/amazing_spider_man_2.jpg" /></li>
        <li><img id="slider-images" src="http://www.ndsccenter.org/worpsite/wp-content/uploads/2014/04/CaptainAmerica.jpg" /></li>
    </ul>
</div>

<script src="~/Scripts/BannerSliderImages.js"></script>
        <div id="popular-master">
            <h2>Vinsælustu textarnir</h2>
            <div class="front-5-group">
                <h3>Bíómyndir</h3>
                @{var items = (from m in Model select m).ToList();}
                @for (int i = 0; i < 5; i++ )
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items[i].Id }, null)" class="thumbnail front-images">
                        @*<h5>@items[i].Name</h5>*@
                        <img src="@items[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>

            <div class="front-5-group">
                <h3>Þættir</h3>

                @{var items2 = (from m in Model select m).ToList();}
                @for (int i = 5; i < 10; i++)
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items2[i].Id }, null)" class="thumbnail front-images">
                        <img src="@items2[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>
        </div>

        <!--<div id="slider-div">
            <div class="tcycle">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p1.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p2.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p3.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p4.jpg">
            </div>
        </div>-->
    <!--</div>
</div>
-->
<!--
<div id="front-area">
    
</div>
-->
