@model IEnumerable<SubHub.Models.Media>

@{
    ViewBag.Title = "Home Page";
}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>
<!--
<div class="panel panel-default" id="front-area">
    <div class="panel-body">-->

<div class="banner-slider-images">
    <ul>
        <li><img id="slider-images" src="http://omgtens.com/wp-content/uploads/2014/02/The-Wolf-of-Wall-Street.jpg" /></li>
        <li><img id="slider-images" src="http://72df263c0e06786fe055-5c2de612d09f155d42eafa9b39d22b08.r24.cf2.rackcdn.com/2013/12/Frozen.jpg" /></li>
        <li><img id="slider-images" src="http://neverendingradicaldude.com/wp-content/uploads/2013/12/Godzilla-2014-Movie-Poster-600x400.jpg" /></li>
        <li><img id="slider-images" src="http://moviesofhollywood.com/wp-content/uploads/2013/09/divergent-poster-top-upcoming-movies-2014-.jpg" /></li>
        <li><img id="slider-images" src="http://www.moviereviewworld.com/wp-content/uploads/2014/03/the-other-woman-movie-poster-620x350.jpg" /></li>
        <li><img id="slider-images" src="http://redcarpetcrash.com/wp-content/uploads/2014/03/Spiderman.jpg" /></li>
        <li><img id="slider-images" src="http://cdn.georgefm.co.nz/georgefm/AM/2012/12/28/130046/game-of-thrones.jpg?quality=70" /></li>
        <li><img id="slider-images" src="http://wac.450f.edgecastcdn.net/80450F/popcrush.com/files/2011/04/greys-anatomy-season-poster.jpg?w=600&h=0&zc=1&s=0&a=t&q=89" /></li>
        <li><img id="slider-images" src="http://4.bp.blogspot.com/-O99co7iZwJ0/Uq6esssM4iI/AAAAAAAAAKY/ZfLy5fBFe_Q/s1600/family-guy-brian-4.jpg" /></li>
    </ul>
</div>

<script src="~/Scripts/BannerSliderImages.js"></script>
<script src="~/Scripts/dots.js"></script>
        <div id="popular-master">
            <h2>Vinsælustu textarnir</h2>
            <div class="front-5-group">
                <h3>Bíómyndir</h3>
                @{var items = (from m in Model select m).ToList();}
                @for (int i = 0; i < 5; i++ )
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items[i].Id }, null)" class="thumbnail front-images">
                        @*<h5>@items[i].Name</h5>*@
                        <img src="@items[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>

            <div class="front-5-group">
                <h3>Þættir</h3>

                @{var items2 = (from m in Model select m).ToList();}
                @for (int i = 5; i < 10; i++)
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items2[i].Id }, null)" class="thumbnail front-images">
                        <img src="@items2[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>
        </div>

        <!--<div id="slider-div">
            <div class="tcycle">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p1.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p2.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p3.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p4.jpg">
            </div>
        </div>-->
    <!--</div>
</div>
-->
<!--
<div id="front-area">
    
</div>
-->
