@model IEnumerable<SubHub.Models.Media>

@{
    ViewBag.Title = "Home Page";
}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>  

<h2 id="front-page-titles-for-welcome"> Velkomin á SubHub </h2>
<h4 id="front-page-titles-for-welcome"> Hér getur þú fundið skjátexta fyrir bíómyndir og þætti </h4>

<div class="banner-slider-images">
    <ul>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 8 })"> <img id="slider-images" src="http://omgtens.com/wp-content/uploads/2014/02/The-Wolf-of-Wall-Street.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 23 })"> <img id="slider-images" src="http://images.auctionworks.com/hi/63/62971/pas0350.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 29 })"> <img id="slider-images" src="http://www.satuharapan.com/life/kcfinder/upload/images/daystokill.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 25 })"> <img id="slider-images" src="http://data.ibtimes.co.in/en/full/433842/greys-anatomy-season-10.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 32 })"> <img id="slider-images" src="http://www.qiibo.com/wp-content/uploads/2014/01/hr_Jack_Ryan-_Shadow_Recruit_17.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 34 })"> <img id="slider-images" src="http://i.myegy.to/images/1f2400039de1.original.jpeg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 33 })"> <img id="slider-images" src="http://www.apnahotspot.com/movies/images/robocop14.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 35 })"> <img id="slider-images" src="http://scifipulse.net/wp-content/uploads/2014/03/24LiveAnotherDay.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 30 })"> <img id="slider-images" src="http://pbs.twimg.com/media/BktoFZ8CIAABy5r.jpg" /> </a> </li>
        <li> <a href="@Url.Action("Media", "Subtitle", new { id = 37 })"> <img id="slider-images" src="http://www.leblogducinema.com/wp-content/uploads//2014/03/true-detective-poster-600x400.jpg" /> </a> </li>
    </ul>
</div>

<script src="~/Scripts/BannerSliderImages.js"></script>
<script src="~/Scripts/dots.js"></script>
<br />
        <div id="popular-master">
            
            <h3 id="most-popular-title">Vinsælustu textarnir</h3>
      
            <div class="front-5-group">
                <h4 id="front-page-tv-shows-movies">Bíómyndir</h4>
                @{var items = (from m in Model select m).ToList();}
                @for (int i = 0; i < 5; i++ )
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items[i].Id }, null)" class="thumbnail front-images">
                        @*<h5>@items[i].Name</h5>*@
                        <img src="@items[i].PosterUrl.ToString()" alt="...">
           
                    </a>
                }

            </div>

            <div class="front-5-group">
                <h4 id="front-page-tv-shows-movies">Þættir</h4>

                @{var items2 = (from m in Model select m).ToList();}
                @for (int i = 5; i < 10; i++)
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items2[i].Id }, null)" class="thumbnail front-images">
                        <img src="@items2[i].PosterUrl.ToString()" alt="...">
                      
                    </a>
                }

            </div>
        </div>
