@model IEnumerable<SubHub.Models.Media>

@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.tcycle.js"></script>
<!--
<div class="panel panel-default" id="front-area">
    <div class="panel-body">-->
        <div id="popular-master">
            <h2>Vinsælustu textarnir</h2>
            <div class="front-5-group">
                <h3>Bíómyndir</h3>
                @{var items = (from m in Model select m).ToList();}
                @for (int i = 0; i < 5; i++ )
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items[i].Id }, null)" class="thumbnail front-images">
                        @*<h5>@items[i].Name</h5>*@
                        <img src="@items[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>

            <div class="front-5-group">
                <h3>Þættir</h3>

                @{var items2 = (from m in Model select m).ToList();}
                @for (int i = 5; i < 10; i++)
                {
                    <a href="@Url.Action("Media", "Subtitle", new { id = items2[i].Id }, null)" class="thumbnail front-images">
                        <img src="@items2[i].PosterUrl.ToString()" alt="...">
                        <h5>Sækja texta</h5>
                    </a>
                }

            </div>
        </div>

        <!--<div id="slider-div">
            <div class="tcycle">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p1.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p2.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p3.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p4.jpg">
            </div>
        </div>-->
    <!--</div>
</div>
-->
<!--
<div id="front-area">
    
</div>
-->
