@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.tcycle.js"></script>



<!--
<div id="sidebar" class="navbar-inverse" >
    <ul class="nav nav-pills nav-stacked">
        <li>@Html.ActionLink("Heim", "Index", "Home")</li>
        <li>@Html.ActionLink("Kvikmyndir", "Contact", "Home")</li>
        <li>@Html.ActionLink("Þættir", "Contact", "Home")</li>
        <li>@Html.ActionLink("Senda inn texta", "Contact", "Home")</li>
        <li>@Html.ActionLink("Senda inn beiðni", "Contact", "Home")</li>
        <li>@Html.ActionLink("Um notkun", "Contact", "Home")</li>
    </ul>
</div>
-->
<div class="panel panel-default" id="front-area">
    <div class="panel-body">
        <div id="popular-master">
            <h2>Vinsælast</h2>
            <div id="popular-div">
                <h3>Bíómyndir</h3>
                <a href="#" class="thumbnail front-images">
                    <img src="http://media.sfx.co.uk/files/2012/09/The-Hobbit-An-Unexpected-Journey-poster-230912.jpg" alt="...">
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://www.rotoscopers.com/wp-content/uploads/2013/09/frozen-poster-cast-new.jpg" alt="...">
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://fedrev.net/wp-content/uploads/2014/01/TheWolfofWallStreet_iTunesPre-sale_1400x2100.jpg" alt="...">
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://khpbooks.com/cinemaknifefight/wp-content/uploads/2014/05/the_amazing_spider_man_2_poster.png" alt="...">
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://wac.450f.edgecastcdn.net/80450F/screencrush.com/files/2013/10/captain-america-2-poster-full.jpg" alt="...">
                </a>
            </div>
        </div>

        <!--<div id="slider-div">
            <div class="tcycle">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p1.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p2.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p3.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p4.jpg">
            </div>
        </div>-->
    </div>
</div>


<!--
<div id="front-area">
    
</div>
-->


<!--
<div id="main-content">
    <img src="" alt="Movie Poster" />
    
    <!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="http://1.bp.blogspot.com/-LmRw95kKBJM/UNtjGw3F5mI/AAAAAAAAC1c/hkIZCYNkvcM/s1600/The-Hobbit-1024x1024.jpg" alt="...">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="http://img2.wikia.nocookie.net/__cb20131103205459/disney/images/6/66/Frozen_castposter.jpg" alt="...">
                </a>
            </div>

            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="http://fedrev.net/wp-content/uploads/2014/01/TheWolfofWallStreet_iTunesPre-sale_1400x2100.jpg" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>-->
<!--
<div id="main-div">
    <a href="#" class="thumbnail">
        <img src="http://1.bp.blogspot.com/-LmRw95kKBJM/UNtjGw3F5mI/AAAAAAAAC1c/hkIZCYNkvcM/s1600/The-Hobbit-1024x1024.jpg" alt="...">
    </a>
</div>
-->
