@model IEnumerable<SubHub.Models.Request>

@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

@using (Html.BeginForm("NewRequest", "Request", FormMethod.Get))
{ 
    <input type="submit" value="Senda inn beiðni" />
}
<table class="table">
    <tr>
        
        <th>
            Stigagjöf
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th></th>
    </tr>
@{var requests = (from m in Model select m).ToList();
  foreach (var r in requests)
	{
		 var rating = r.RequestRating;
      <tr>
        <td>
            <a href="@Url.Action("Upvote", new { id = r.Id })"><span class="glyphicon glyphicon-arrow-up"></span></a>
            @Html.DisplayFor( modelItem => rating.count)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => r.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => r.DateSubmitted)
        </td>
        @if(r.Completed)
        {
            <td>
                Beiðni uppfyllt
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Uppfylla beiðni", "Complete", "Request", new { id = r.Id }, null)
                <span class="glyphicon glyphicon-check"></span>
            </td>
        }
        
    </tr>
	}
}
@*@foreach (var item in Model) {
    <tr>
        <td>
            @{var requestRating = item.RequestRating;
              var ratingCount = requestRating.count;}
            @Html.DisplayFor(modelItem => item.RequestRating.count)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSubmitted)
        </td>
        @if(item.Completed)
        {
            <td>
                Beiðni uppfyllt
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Uppfylla beiðni", "Complete", "Request", new { id = item.Id }, null)
            </td>
        }
        
    </tr>*@


</table>
