@model IEnumerable<SubHub.Models.Media>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Genre.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type.Type)
        </th>*@
        <th class="poster-th"></th>

         @*<th>
            @Html.DisplayNameFor(model => model.PosterUrl)
        </th>*@
        <th class="name-th">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th class="date-aired-th">
            @Html.DisplayNameFor(model => model.DateAired)
        </th>*@
        <th class="imdb-url-column">
            @Html.DisplayNameFor(model => model.ImdbUrl)
        </th>
        @*<th>Operations</th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Genre.Genre)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Type.Type)
        </td>*@
        <td>
            <img src="@item.PosterUrl" alt="@item.Name" class="list-poster"/>
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.PosterUrl)
        </td>*@
        <td>
            @Html.ActionLink(item.Name, "Media", "Subtitle", new { id = item.Id }, null)
            (
            @Html.DisplayFor(modelItem => item.DateAired.Year)
            )
        </td>
        @*<td class="date-aired-td">
            
        </td>*@
        <td>
            <a href="@item.ImdbUrl" target="_blank">Imdb Link</a>
            @*@Html.DisplayFor(modelItem => item.ImdbUrl)*@
        </td>

    </tr>
}

</table>
